/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body {
  background: #060606;
  color: #060606;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

/* ==========================================================================
   Reusables styles: components
   ========================================================================== */
.btn {
  text-decoration: none;
  background: #060606;
  color: #f1f1f1;
  border: 1px solid #060606;
  line-height: 3em;
  padding: 0 1.6em;
  border-radius: 2px;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  display: table;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  outline: none;
  letter-spacing: 2px;
  margin: 20px 0;
}

.btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn:focus {
  outline: 1px dashed #130080;
}

.btn > .bg {
  cursor: pointer;
  pointer-events: none;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 0px;
  width: 0px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  mix-blend-mode: difference;
}

.btn:hover .bg {
  height: 400px;
  width: 400px;
}

@media only screen and (max-width: 800px) {
  .btn {
    margin: 20px auto;
  }
}

/* ==========================================================================
   Loading Scene
   ========================================================================== */
.loading-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.loading-circle {
  width: 0px;
  height: 0px;
  background: #f1f1f1;
  border-radius: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.loading-circle span {
  color: #060606;
  font-size: 6vmin;
  font-weight: 400;
  letter-spacing: 6px;
  padding-left: 6px;
  line-height: 1em;
  font-family: "Raleway", sans-serif;
}

.loading-circle .loading-text2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: calc(16px + 0.5vw + 0.5vh + 0.5vmin);
  display: none;
  position: absolute;
}

/* ==========================================================================
   MOUSE TWEAKS
   ========================================================================== */
.mouse-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
}

.mouse-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.mmoon-container {
  position: absolute;
  width: 500px;
  height: 500px;
}

.mmoon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 69px;
  height: 69px;
  background: #060606;
  border-radius: 50%;
  mix-blend-mode: difference;
  z-index: 100;
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.navigation {
  z-index: 10;
  position: fixed;
  right: 8vw;
  top: calc(16px + 0.5vw + 0.5vh + 0.5vmin);
}

.navigation .bg {
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translate(18%, -50%);
          transform: translate(18%, -50%);
  height: 1px;
  width: 1px;
  background: rgba(245, 245, 245, 0.85);
  border-radius: 50%;
}

.navigation .menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.navigation.open .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.menu {
  margin: auto;
  opacity: 0;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  list-style-type: none;
  padding: 25px 15px;
}

.menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  letter-spacing: 6px;
  font-size: calc(14px + 0.5vw + 0.5vh + 0.5vmin);
  text-transform: uppercase;
  color: #060606;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu a:hover {
  color: #130080;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: 600;
}

.menu a:hover::before,
.menu a:hover::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  border-radius: 99em;
  background-color: #130080;
  -webkit-animation: menuHover 0.5s ease;
          animation: menuHover 0.5s ease;
}

.menu a::before {
  margin-right: 20px;
}

.menu a::after {
  margin-left: 20px;
}

@-webkit-keyframes menuHover {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

@keyframes menuHover {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

.menu-switch {
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  color: #060606;
  display: inline-block;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 21px;
  z-index: 11;
}

.menu-switch:before {
  content: "";
  background: #060606;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 5px;
  left: 47%;
  margin: 0 0 0 -21px;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-switch:after {
  content: "";
  background: #060606;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 47%;
  margin: 0 0 0 -21px;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation.open .menu-switch:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
  width: 25px;
  margin: 0 0 0 -13px;
  background-color: #cc3030;
}

.navigation.open .menu-switch:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
  width: 25px;
  margin: 0 0 0 -13px;
  background-color: #cc3030;
}

/* ==========================================================================
   Home Section
   ========================================================================== */
.home-container {
  color: #060606;
  margin: auto;
  margin-top: 6vh;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: none;
}

body.loaded .home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  max-width: 1000px;
  min-height: 466px;
  max-height: 50vh;
  margin: auto;
}

.home-content {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 2;
  width: 100%;
}

.home-content h1 {
  font-size: calc(1rem + 3vw);
  text-transform: uppercase;
  max-width: 80%;
  font-weight: bold;
}

.home-content h1 span {
  display: block;
  white-space: nowrap;
}

.home-content p {
  font-size: 1rem;
}

.home-image {
  width: 100%;
  max-height: 555px;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-image img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 70%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 4px;
  margin: auto 0 auto auto;
}

.home-image img.framed {
  height: 400px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  -webkit-animation: morphBorderRadius 4s ease-in-out infinite both alternate;
          animation: morphBorderRadius 4s ease-in-out infinite both alternate;
}

@-webkit-keyframes morphBorderRadius {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes morphBorderRadius {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@media only screen and (max-width: 800px) {
  .home-container {
    margin-top: 10vh;
  }
  .home {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10% auto auto auto;
  }
  .home-content {
    position: relative;
    text-align: center;
  }
  .home-image {
    height: auto;
  }
  .home-image img {
    min-width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: -10%;
  }
  .home-image img.framed {
    width: 80vw;
    height: 80vw;
    min-width: 100px;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    margin-bottom: 10%;
  }
  .home-content h1 {
    margin: auto;
  }
}

/* ==========================================================================
   ABOUT Section
   ========================================================================== */
.about-container {
  color: #060606;
  margin: auto;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: none;
  position: relative;
  min-height: 1000px;
}

body.loaded .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5%;
  left: -5%;
  height: 800px;
  width: 800px;
  border: 1px solid #060606;
  padding: 23px;
  border-radius: 100%;
}

.about-image img {
  border-radius: 100%;
  margin: auto 0 auto auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  width: 60%;
  max-width: 1000px;
  min-height: 466px;
  max-height: 50vh;
  margin: 6vh 20% 0 44%;
}

.about h2 {
  font-size: 33px;
  text-align: center;
}

.about p {
  line-height: 2;
  font-size: 18px;
}

.about li a {
  color: #000000;
  text-decoration: none;
}

.about li a:hover {
  text-decoration: underline;
}

.about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about li {
  line-height: 2;
  font-size: 18px;
}

.about li > b {
  display: inline-block;
  width: 120px;
}

.about-bot {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svg-inline--fa {
  vertical-align: -0.200em;
}

.social {
  text-align: center;
}

.social .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 15px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.social .social-button:hover, .social .social-button:focus {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.social .social-button {
  background: #000000;
}

.social .social-button:hover, .social .social-button:focus {
  color: #000000;
  background: transparent;
  border-color: #000000;
}

/* ==========================================================================
   PORTFOLIO Section
   ========================================================================== */
.portfolio-container {
  color: #060606;
  margin: auto;
  width: 100%;
  overflow: hidden;
  display: none;
  position: relative;
  text-align: center;
}

body.loaded .portfolio-container {
  display: block;
}

.portfolio-container h2 {
  margin-top: 0;
  font-size: 43px;
}

.works {
  width: 86vw;
  max-width: 1600px;
  min-height: 466px;
  margin: 4vw auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work {
  display: block;
  width: 40vw;
  height: 25vw;
  max-width: 700px;
  max-height: 450px;
  margin: 0 auto 4vw auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

.work img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.work:hover img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.work .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work:hover .overlay {
  background: #060606cc;
  opacity: 1;
}

.work .overlay h3 {
  color: #fff;
  font-size: 34px;
  font-weight: 300;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */